.env
/node_modules
package-lock.json
package.json
env.sh
public/data/create_pubpal_db.sql
env.sh
server.log
env.sh
public/data/create_pubpal_db.sql
/public/data/receipts
public/scripts/convertFile.js
public/data/receipts.json
