/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 1em;
}

/* Main Content */
h2 {
    text-align: center;
}

main {
    margin: 20px;
}

/* List Items in Main */
.main li {
    margin: 1em;
}

/* Button Styles */
input.btn {
    width: 120px;
    height: 35px;
    border-radius: 20%;
    background-color: #6A329F;
    color: white;
    border: none;
    cursor: pointer;
}

input.btn:hover {
    background-color: #d9d2e9;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #6A329F;
    font-size: 18px;
}

.header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.header li {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.header li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.header li a:hover {
    background-color: #d9d2e9;
    transition: 0.3s;
}

/* Footer Styles */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #674ea7;
    padding: 20px;
    color: white;
}

.footer .column {
    flex: 1;
    margin: 10px;
}

.footer .column a {
    text-decoration: none;
    color: #bcbcbc;
}

.footer .column p {
    color: #ffffff;
}

/* Google Map iframe responsiveness */
.google-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    min-height: 250px; /* Set a minimum height for small screens */
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Header Responsiveness */
    .header ul {
        flex-direction: column;
        text-align: center;
    }

    .header li {
        padding: 10px 0;
    }

    /* Footer Responsiveness */
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .google-map iframe {
        height: 300px; /* Adjust the height for mobile screens */
    }
}