:root {
    --primary-color: #2C3E50;
    --secondary-color: #ECF0F1;
    --accent-color-teal: #1ABC9C;
    --accent-color-orange: #E67E22;
    --text-primary: #333333;
    --text-secondary: #555555;
    --background-light: #F5E9DA;
    --success-color: #2ECC71;
}
/* Styling for the password input field */
.userPwd {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    color: var(--text-primary);
    background-color: var(--background-light);
}
.userPwd:focus {
    border-color: var(--accent-color-teal);
    outline: none;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.2em;
    color: var(--text-secondary);
}
.password-container button:focus {
    outline: none;
}
    /* Styling for the Show/Hide button */
#pwdshowHide {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    color: var(--primary-color);
    transition: color 0.3s ease;
}
#pwdshowHide:hover {
    color: var(--accent-color-teal);
}
/* Styling for the eye icon */
#pwdIcon {
    font-size: 18px;
    color: inherit;
}
/* Adjustments for form container */
.header-flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.header-flex-container h3 {
    margin: 5px 0 0px 0px;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
}
.formRegister .password-container{
    gap: 3px;
}
.formLogin .forgot-password {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.formLogin .forgot-password a {
    color: var(--text-secondary);
    text-decoration: underline;
}
.formLogin #logo, .formRegister #logo  {
    height: 30px;
    width: auto;
}
.btnForm {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
/* Styling for form buttons */
.btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--secondary-color);
}
.btn[type="button"] {
    background-color: var(--accent-color-teal);
}
.btn[type="button"]:hover {
    background-color: #16a085; /* Darker shade of teal */
}
.btn[type="reset"] {
    background-color: var(--accent-color-orange);
}
.btn[type="reset"]:hover {
    background-color: #d35400; /* Darker shade of orange */
}
 /* Additional styling for two-column layout */
 .double-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}
/* Set 30% width for contact form and 70% for about content */
.column-thirty {
    flex: 1 1 30%; /* 1 is the flex-grow, 1 is the flex-shrink, 30% is the flex-basis */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}
.column-sixty {
    flex: 1 1 60%; /* 1 is the flex-grow, 1 is the flex-shrink, 70% is the flex-basis */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}
.column-sixty h2,  .contact-form h2{
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}
.column-sixty p {
    text-align: justify;
}
.contact-form label, .contact-form input, .contact-form textarea {
    width: 100%;
    margin: 10px 0;
}
.button-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-btn:hover {
    background-color: #039e5e;
}
.search-results{
    margin: 10px 30px 10px 10px;
    padding: 10px;
    border-radius: 8px;
}
.search-results div {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 10px;
}
.btnEdit {
    width: 15%;
    margin-left: 10%;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.updateUserForm {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 5%;
}
.inputEditForm h4 {
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.inputEditForm #updateUserId{
    width: 10%;
    height: 30px;
    font-weight: bold;
    text-align: center;
}
.inputEditForm input {
    text-align: center;
    width: 40%;
    height: 25px;
    font-weight: bold;
    margin-left: 20px;
}
.btnEditForm {
    margin-top: 3%;
}
