:root {
    --primary-color: #2C3E50;
    --secondary-color: #ECF0F1;
    --accent-color-teal: #1ABC9C;
    --accent-color-orange: #E67E22;
    --text-primary: #333333;
    --text-secondary: #555555;
    --background-light: #F5E9DA;
    --success-color: #2ECC71;
}

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-light);
    color: var(--text-primary);
    margin: 0;
    display: flex;
    justify-content: center;
}

html, body {
    height: 100%;
}

.container {
    width: 100%; 
    max-width: 1200px; /* Set a max width to prevent overflow on very large screens */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0 auto; /* Center-aligns the container */
}

/* Header styles */
#main-header  {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    transition: all 0.3s ease;
}

/* Before Scroll */
.header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 0;
    transition: all 0.3s ease;
}

.header-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.header-text h3 {
    color: var(--secondary-color);
}

.header-text h6 {
    color: var(--secondary-color);
    font-size: 0.9em;
}

/* After Scroll */
.scrolled .header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    padding: 10px 30px;
    background-color: var(--primary-color); /* Ensures header background remains solid */
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
}

.scrolled .header-container {
    justify-content: flex-start; /* Align items to the left on scroll */
    padding-left: 10px;
}

.scrolled-logo {
    height: 40px !important; /* Shrinks logo on scroll */
}

.scrolled .header-text h6 {
    display: none; /* Hide subtitle on scroll */
}

/* Navigation menu */
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

/* Main content */
main {
    flex: 1; /* Allows main to grow and fill available space */
    width: 100%;
    padding: 150px 20px 20px 20px; /* Adjust according to your header height */
}

/* Footer styles */
.footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}

/* Buttons */
.button-primary {
    background-color: var(--accent-color-teal);
    color: var(--secondary-color);
}

.button-cta {
    background-color: var(--accent-color-orange);
    color: white;
}

/* Icon styles */
.icons {
    height: 50px;
    width: auto;
}

/* "Go to Top" button */
#btnGoTop {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: 0.3s;
}

#btnGoTop:hover {
    background-color: #333;
}